@import "tailwindcss";

@theme {
    --color-romantic-dark: #1a0505;
    --color-romantic-light: #fff0f5;
    --color-romantic-red: #e11d48;
    --color-romantic-pink: #ec4899;

    --font-playfair: var(--font-playfair);
    --font-inter: var(--font-inter);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}